body {
position: relative;
font-family: Impact, cursive;
font-size: 16px;
line-height: 1.4;
color: #000;
min-width: 320px;
overflow-x: hidden;
height: auto;
}
.navbar{
width: 100%;
height: 70px;
box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}
.navbar .container{
height: inherit;
display:flex;
justify-content: space-between;
align-items: center;
}
.navbar-menu{
list-style-type: none;
padding-left: 0;
margin-bottom: 0;

}

.navbar-menu li {
display: inline-block;
}
.navbar-menu li a{
display: inline-block;
color: black;
opacity: 0.6;
text-decoration: none;
padding: 10px;
transition: all .07s ease-in-out;
}
.navbar-menu li a:hover{
opacity: 1;
}
.navbar-menu li button{
display: inline-block;
border: none;
background: none;
color: black;
opacity: 0.6;
text-decoration: none;
padding: 10px;
transition: all .07s ease-in-out;
}
.navbar-menu li button:hover{
opacity: 1;
}
.navbar-wrap{
display: flex;
flex-flow: nowrap;
}
.callback{
margin-left: 30px;
padding: 18px 30px;
background-color: #140764;
border-radius: 100px;
color: #fff;
text-decoration: none;
box-shadow: 0 4px 5px rgba(20, 7, 100, 0.94);

}
.callback:hover{
transform: scale(1.04);
transition: all .1s ease-in-out;
color: #fff;
box-shadow: 0 9px 9px rgba(20, 7, 100, 1);

}
.navbar-brand{
font-size: 36px;
text-decoration: none;
color: #000;
}
.navbar-brand:hover{
color: #140764;
transition: all .07s ease-in-out;
}
#search{
  margin-top: 18px;
  font-size: 25px;
  border-radius: 10px;
  border: 3px solid black;
  height: 40px;
  transform: translate(-60px);
}
form{
  position: relative;
  top: 35px;
  left: 0px;
  transform: translate(-50%,-50%);
  transition: all 0.4s;
  width: 180px;
  height: 55px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid rgb(0, 0, 0);
  padding: 5px;
}

input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 0.5s;
}

form:hover{
  width: 200px;
  cursor: pointer;
}

form:hover input{
  display: block;
}

form:hover .fa{
  background: #07051a;
  color: white;
}


nav ul li ul{
  position: absolute;
  left: 55%;
  top: 65px;
  width: 180px;
  background: #fff;
  display: none;
}
nav ul li ul li{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
}
nav ul li ul li ul{
  left: 180px;
  top: 70%;
}
nav ul li:hover > ul{
  display: initial;
}

#xxx{
  width: 250px;
  height: 300px;
}

.product{
margin-left: 70px;
margin-bottom: 30px;

}
.image img{
  height: 300px;
  width: 250px;
  object-fit: cover;
  border-radius: 7px;
  border: 2px solid black;

}
.image{
  margin-bottom: 10px;
}

.info h3{
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 0;
}
.rating{
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.rating li{
  display: inline-block;
  color: #ffc107;
}
.info-price{
  display: flex;
  flex-flow: nowrap;
 justify-content: flex;
 align-items: center;

}
.add-to-cart{
  margin-left: 10px;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  display:  flex;
  align-items: center;
  justify-content: center;
  background-color: #100874;
  color: #fff;
  border-radius: 7px;
}
.add-to-cart:hover{
  margin-left: 10px;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  display:  flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
  border-radius: 7px;
}
.add-to-like{
  background: #fff;
  border: none;
  margin-left: 175px;
  width: 100px;
  height: 100px;
  margin-top: -10px;
  display:  flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  background-color: #fffefe;
 
}
.add-to-like:hover{
  margin-left: 175px;
  width: 100px;
  height: 100px;
  margin-top: -10px;
  display:  flex;
  align-items: center;
  justify-content: center;
  color: #ff0707;
  background-color: #ff0707;
 
}

.price{
font-weight: 700;
font-size: 18px;
margin-right: 150px;
}
/**Настраиваем корзину**/
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
   align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all .09s ease-out;
}
.modal.show{
  visibility: visible;
  z-index: 100;
  opacity: 1;

}
.modal .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 0;
}
.modal-window{
  position: relative;
  z-index: 2;
  width: 700px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0, .4);
  background-color: #fff;
  padding: 30px;
 margin-top: -40px;
  transition: inherit;
}
.model-show .modal-window{
  margin-top: 0;
}
.btn-close{
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background: none;
  opacity: 0.7;
}
.btn-close:hover{

  opacity: 1;
}
/**
* Другие стили
*/
.hide{
  opacity: 1;
  animation-name: a1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes a1{
  to{
    opacity: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
.btn{
  text-decoration: none;
  color: #000;
}
.katalog{
  color:#000;
}